// Font families:
@main-font: 'Lato', sans-serif;
@header-font: 'Lato', sans-serif;

// Font weights:
@bold: 700;
@normal: 400;

.smaller-text{
    font-size:0.8em
}

.link{
    color: @link;
    border-bottom:0px !important;

}

.link-lighter{
    color: @text-muted !important;
    border-bottom:0px !important;
}

.positive-indicator{
    color: white;
    background-color: @text-positive;
    padding: 4px;
    border-radius: 5px;
}

.price-text{
    color: @text-price;
}

.positive-text{
    color: @text-positive;
}