<script src="instant.js"></script>
<script type="text/javascript" src="0x.js"></script>
<script type="text/javascript" src="AssetBuyer.js"></script>
<script type="text/javascript" src="Web3Wrapper.js"></script>
<script type="text/javascript" src="getContractAddressesForNetworkOrThrow.js"></script>
<script type="text/javascript" src="SubProviders.js"></script>
<script type="text/javascript" src="ContractArtifacts.js"></script>
<script type="text/javascript" src="AbiGenWrappers.js"></script>

<div id="buy-token" v-cloak>

       

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
 